body {
  margin: 0px;
  background: url(images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  font-family: 'Graduate', cursive;
  overflow: auto;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 1200px;
  /* display: flex;
  justify-content: space-around; */
}

ul {
  margin: 0px;
  padding: 0px;
}

header {
  margin: 0px;
  text-align: center;
  color: white;
  background-color: rgb(18, 139, 2, 0.3);
  padding: 15px 0px;
  font-size: 13px;
}

#field {
  width: 95%;
  position: relative;
  z-index: 1;
}
#scoreboard {
  width: 100%;
  margin: 2% 0%;
  position: relative;
  z-index: 2;
  font-size: 20px;
}

.scoreboard-boxes {
  background-color: green;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 10px 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#field-box {
  width: 50%;
  background-color: rgb(1, 65, 1);
  border: 4px solid black;
  position: absolute;
  z-index: 1;
  top: 5%;
  padding-bottom: 50px;
  text-align: center;
  height: 70%;
  left: 10%;
}

.trivia-box {
  width: 30%;
  background-color: rgb(1, 65, 1);
  border: 4px solid black;
  position: absolute;
  z-index: 1;
  top: 5%;
  height: 70%;
  right: 10%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  overflow: auto;
}

.result-box {
  width: 30%;
  background-color: rgb(1, 65, 1);
  border: 4px solid black;
  padding-top: 20px;
  padding-bottom: 30px;
  position: absolute;
  z-index: 0;
  top: 5%;
  height: 70%;
  font-size: 2rem;
  text-align: center;
  right: 10%;
  color: white;
  overflow: auto;
}

.question-box {
  background-color: #b45c0a;
  margin: 5% 0%;
  width: 100%;
  text-align: center;
  color: #eeeeee;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.question-box p {
  margin: 5% 20%;
}

.multiple-choice {
  list-style: none;
  width: 100%;
}

.multiple-choice li {
  background-color: #b45c0a;
  color: #eeeeee;
  margin: 5% 0%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  height: 45px;
  width: 90%;
  box-shadow: 0px 0px 5px 1px black;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: left;
  align-items: center;
}

.multiple-choice li:hover {
  background-color: rgb(97, 41, 17);
}

.multiple-choice img {
  height: 55px;
  margin-right: 10%;
  margin-left: 5%;
}

.images {
  list-style: none;
}

.answers {
  display: flex;
  flex-direction: row;
}

#hit-overlay {
  background-color: rgb(18, 139, 2, 0.95);
  font-size: 30px;
  text-align: center;
}

#out-overlay {
  background-color: rgba(214, 51, 51, 0.95);
  font-size: 30px;
  text-align: center;
}

.overlay-images {
  width: 70%;
  max-height: 60%;
  margin-top: 10%;
  box-shadow: 2px 2px 3px black;
}

.overlay-cover {
  width: 80%;
  background-color: rgb(1, 65, 1);
  border: 4px solid black;
  box-shadow: 0px 0px 20px 3px black;
  padding-top: 20px;
  position: absolute;
  top: 5%;
  height: 75%;
  font-size: 30px;
  text-align: center;
  right: 10%;
  left: 10%;
  margin-bottom: 50px;
  color: white;
}

#start-game {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#end-game {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
#end-game img {
  width: 40%;
  margin-top: 5%;
}

#end-game button {
  margin-top: 1%;
}

#start {
  width: 100px;
  cursor: pointer;
}

#mute {
  width: 40px;
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 2;
}

#run-count {
  font-size: 25px;
  font-weight: bold;
  margin: 0px -100px;
  color: gold;
}

#out-count {
  padding-top: 5px;
}

#hit-count {
  padding-top: 5px;
}

#high-score-box {
  width: 30%;
  margin: 0 auto 5% auto;
  border-top: 0px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#high-score {
  font-size: 15px;
}

#clear-score img {
  width: 20px;
}

#clear-score {
  border-bottom: 0px;
}

#directions-start {
  padding: 0% 5%;
  font-size: 20px;
  text-align: left;
  border-left: 2px solid white;
}

#directions-start li {
  margin: 30px 0px;
}

#start-box {
  padding: 0% 10%;
}

#pitch-clock {
  color: red;
  font-weight: bolder;
  font-size: 40px;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 2;
  background-color: black;
  padding: 10px;
  border: green solid 5px;
}

#copyright a {
  position: absolute;
  bottom: -10%;
  right: 2%;
  text-decoration: none;
  font-size: 15px;
  color: white;
}

nav {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 15px;
  display: none;
  padding: 10px;
  background-color: rgba(211, 247, 206, 0.3);
}

.nav-buttons {
  margin: 0px 15px 0px 15px;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  width: 150px;
}

#directions-menu {
  width: 40%;
  height: 43%;
  margin: 5% auto;
  position: absolute;
  z-index: 3;
  font-size: 18px;
  padding: 75px;
  text-align: left;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(1, 65, 1, 0.95);
  overflow: auto;
}

#directions-menu li {
  margin: 30px 0px;
}

#close-window {
  width: 3%;
  position: absolute;
  top: 3%;
  left: 2%;
}

/* cool button styling from https://codepen.io/rauldronca/details/mEXomp */
button {
  color: white;
  transition: all 0.5s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  background-color: #b45c0a;
  font-family: 'Graduate', cursive;
  font-size: 20px;
  margin-top: 40px;
}
button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/*  */

@media only screen and (max-width: 1100px) {
  .overlay-cover {
    width: 80%;
    top: 5%;
    height: 200%;
    left: 10%;
    right: 10%;
  }

  .trivia-box {
    width: 80%;
    top: 95%;
    height: 80%;
    max-height: 530px;
    left: 10%;
    right: 10%;
  }
  #field-box {
    width: 80%;
    top: 5%;
    height: 90%;
    left: 10%;
    right: 10%;
    padding-bottom: 0px;
  }

  .result-box {
    width: 80%;
    top: 95%;
    height: 80%;
    max-height: 530px;
    left: 10%;
    right: 10%;
  }
  #start-game {
    flex-direction: column;
    font-size: 20px;
  }

  #start-box {
    margin-left: 0px;
  }

  #directions-start {
    border-top: 2px solid white;
    border-left: 0px;
  }
  #copyright {
    display: none;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: portrait) {
  .overlay-cover {
    width: 80%;
    top: 2%;
    height: 100%;
    left: 10%;
    right: 10%;
    box-shadow: none;
    margin-bottom: 0px;
  }

  #start-game {
    flex-direction: column;
    font-size: 20px;
  }

  .trivia-box {
    width: 80%;
    top: 41%;
    height: 55%;
    left: 10%;
    right: 10%;
  }
  #field-box {
    width: 80%;
    top: 2%;
    height: 40%;
    left: 10%;
    right: 10%;
    padding-bottom: 0px;
  }

  .result-box {
    width: 80%;
    top: 41%;
    height: 55%;
    left: 10%;
    right: 10%;
    margin-bottom: 0px;
  }

  .multiple-choice li {
    font-size: 13px;
    height: 30px;
    text-align: center;
  }

  .question-box {
    font-size: 18px;
  }

  #scoreboard {
    font-size: 5px;
    width: 100%;
  }

  .multiple-choice {
    margin: auto;
  }

  header {
    width: 100%;
    margin-bottom: 0px;
    padding: 5px 0px;
    font-size: 9px;
  }

  #scoreboard ul {
    font-size: 10px;
    padding: 5px 0px;
  }

  #run-count {
    font-size: 15px;
  }

  #field {
    width: 95%;
  }

  #high-score {
    font-size: 8px;
  }

  #mute {
    width: 20px;
    top: 70%;
  }

  #high-score-box {
    width: 40%;
  }

  .question-box {
    margin: 0px auto 5px auto;
    font-size: 12px;
  }

  .multiple-choice li {
    padding: 10px 5px;
    margin: 25px 0px;
    font-size: 10px;
    height: 20px;
    font-weight: bold;
  }
  #directions-start {
    border-top: 2px solid white;
    border-left: 0px;
    padding-left: 10%;
    font-size: 15px;
  }

  #pitch-clock {
    font-size: 15px;
    bottom: 15%;
  }

  #copyright {
    display: none;
  }

  .nav-buttons {
    margin: 0px 15px 0px 15px;
    font-size: 10px;
    line-height: 10px;
    height: 20px;
    width: 100px;
  }

  #directions-menu {
    font-size: 14px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
  #field-box {
    width: 50%;
    top: 3%;
    height: 110%;
    left: 7.5%;
  }

  .trivia-box {
    width: 40%;
    top: 3%;
    height: 110%;
    left: 57.5%;
  }

  .result-box {
    width: 40%;
    top: 3%;
    height: 110%;
    left: 57.5%;
  }

  .question-box {
    font-size: 12px;
  }

  .multiple-choice li {
    padding: 10px 5px;
    margin: 25px 0px;
    font-size: 10px;
    height: 20px;
    font-weight: bold;
  }

  .overlay-cover {
    width: 85%;
    top: 3%;
    height: 130%;
    right: 10%;
    left: 7.5%;
  }
  #scoreboard {
    font-size: 15px;
  }

  #directions-start {
    border-top: 2px solid white;
    border-left: 0px;
  }
  #pitch-clock {
    font-size: 20px;
  }
  #copyright {
    display: none;
  }
}
